@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Poppins:wght@200;300;400;500;600&family=Roboto+Mono:wght@200;400;700&display=swap');

:root {
    --blue-main: rgb(114, 144, 184);
    --blue-light: rgb(215, 225, 238);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

#header {
    height: 100px;
    width: 100vw;
    background-color: var(--blue-main);
    display: flex;
    align-items: center;
}

.title-text {
    color: white;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 3.5rem;
    flex-grow: 1;
    
}

#body-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    background-color:rgb(217, 240, 239);
}

#sidebar {
    background-color: var(--blue-light);
    width: 350px;
    height: 100%;
}

.nav-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
}

.nav-button {
    height: 42px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease, background-color 0.1s ease, color 0.1s ease;
}

.nav-button:hover {
    cursor: pointer;
    transform: scale(1.07);
    transition: transform 0.1s ease, background-color 0.1s ease, color 0.1s ease;
    background-color: var(--blue-main);
    color: white;
}

.nav-button:active {
    background-color: rgb(189, 192, 230);
}

.nav-button h3 {
    flex-grow: 1;
}

.nav-project-delete {
    display: none;
    width: 24px;
    height: 24px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 5;
}

.nav-button:hover .nav-project-delete {
    display: flex
}

.nav-project-delete:hover {
    background-color: rgb(240, 185, 185);
    color: rgb(109, 44, 44);
    border: 3px solid rgb(109, 44, 44);
    opacity: 1;
}

.nav-add-project-container {
    padding: 0 32px;
}

#add-project {
    opacity: 0.4
}

#add-project:hover {
    opacity: 1;
}

.nav-adding-project {
    border: 2px solid rgb(70, 70, 70);
    border-radius: 12px;
    display: flex;
    height: 150px;
    opacity: 1;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    overflow: hidden;
    transition: display 0.2s ease, height 0.1s ease;
}

.nav-hidden {
    height: 0;
    padding: 0;
    gap: 0;
    border: 0;
    opacity: 0;
    transition: opacity 0.2s ease, height .1s ease;
}

.nav-adding-project div {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 12px;
    font-size: 1.2rem;
}

.nav-adding-project label {
    width: 60px;
    font-weight: 600;
}

.nav-adding-project input {
    flex-grow: 1;
    width: 100px;
    font-size: 1.2rem;
}

.nav-adding-project button {
    width: 100%;
    border: 2px solid black;
    border-radius: 12px;
    background-color: rgb(158, 206, 194);
    height: 32px;
    font-size: 1rem;
    font-weight: 600;
}

.nav-adding-project button:hover {
    cursor: pointer;
    background-color: rgb(140, 228, 206);
}

.nav-adding-project button:active {
    background-color: white;
}

#sidebar hr {
    width: 80%;
    border: none;
    border-top: 4px solid white;
}