@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Poppins:wght@200;300;400;500;600&family=Roboto+Mono:wght@200;400;700&display=swap');

:root {
    --blue-main: rgb(114, 144, 184);
    --blue-light: rgb(215, 225, 238);
}

*, *::before, *::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
}

h2, h4, h5 {
    margin: 0;
}

h2 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

#header {
    height: 100px;
    width: 100vw;
    background-color: var(--blue-main);
    display: flex;
    align-items: center;
}

.title-text {
    color: white;
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 3.5rem;
    flex-grow: 1;
}

#body-container {
    display: flex;
    width: 100%;
    height: calc(100vh - 100px);
    background-color:rgb(230, 245, 244);
}

#sidebar {
    background-color: var(--blue-light);
    width: 350px;
    height: 100%;
}

.nav-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
}

.nav-button {
    height: 42px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background-color: rgb(255, 255, 255);
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease, background-color 0.1s ease, color 0.1s ease;
}

.nav-button:hover {
    cursor: pointer;
    transform: scale(1.07);
    transition: transform 0.1s ease, background-color 0.1s ease, color 0.1s ease;
    background-color: var(--blue-main);
    color: white;
}

.nav-button:active {
    background-color: rgb(189, 192, 230);
}

.nav-button h3 {
    flex-grow: 1;
}

.nav-project-delete {
    display: none;
    width: 24px;
    height: 24px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 5;
}

.nav-button:hover .nav-project-delete {
    display: flex;
}

.nav-project-delete:hover {
    background-color: rgb(240, 185, 185);
    color: rgb(109, 44, 44);
    border: 3px solid rgb(109, 44, 44);
    opacity: 1;
}

.nav-add-project-container {
    padding: 0 32px;
}

#add-project {
    opacity: 0.4
}

#add-project:hover {
    opacity: 1;
}

.nav-adding-project {
    border: 2px solid rgb(70, 70, 70);
    border-radius: 12px;
    display: flex;
    height: 150px;
    opacity: 1;
    justify-content: center;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    overflow: hidden;
    transition: display 0.2s ease, height 0.1s ease;
}

.nav-hidden {
    height: 0;
    padding: 0;
    gap: 0;
    border: 0;
    opacity: 0;
    transition: opacity 0.2s ease, height .1s ease;
}

.nav-adding-project div {
    display: flex;
    flex-direction: row;
    width: 100%;
    gap: 12px;
    font-size: 1.2rem;
}

.nav-adding-project label {
    width: 60px;
    font-weight: 600;
}

.nav-adding-project input {
    flex-grow: 1;
    width: 100px;
    font-size: 1.2rem;
}

.nav-adding-project button {
    width: 100%;
    border: 2px solid black;
    border-radius: 12px;
    background-color: rgb(158, 206, 194);
    height: 32px;
    font-size: 1rem;
    font-weight: 600;
}

.nav-adding-project button:hover {
    cursor: pointer;
    background-color: rgb(140, 228, 206);
}

.nav-adding-project button:active {
    background-color: white;
}

#sidebar hr {
    width: 80%;
    border: none;
    border-top: 4px solid white;
}

/* Main elements */
#main {
    flex-grow: 1;
    display: flex;
    flex-direction: column;
    height: 100%;
    padding: 32px;
    gap: 16px;
}

.task-container-header {
    display: flex;
    align-items: center;
    gap: 16px;
}

.task-container-header *:nth-child(2), .add-task {
    border: 2px solid grey;
    border-radius: 4px;
    font-size: 1.1rem;
    padding: 4px 8px;
}

.add-task {
    font-weight: 600;
    color: rgb(82, 82, 82);
    background-color: rgb(223, 243, 223);
}

.add-task:hover {
    cursor: pointer;
    border: 2px solid black;
    color: black;
    background-color: rgb(201, 241, 201);
}

.add-task:active {
    background-color: white;
}

.task-sorter, .task {
    display: grid;
    grid-template-columns: 40px 240px auto 80px 80px 24px 24px;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding-left: 18px;
    padding-right: 12px;
}

.task-sorter {
    font-weight: 600;
}

.task-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

/* Task Boxes */
.task {
    cursor: pointer;
    min-height: 40px;
    background-color: rgb(222, 229, 248);
    border: 1px solid grey;
    border-radius: 12px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

.task:hover {
    background-color: white;
}

.task > div:not(:first-child) {
    padding: 12px 0;
}

.task-complete-box {
    height: 20px;
    width: 20px;
    border: 2px solid rgb(129, 129, 129);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease;
}

.task-complete-box:active {
    background-color: white;
}

.task-complete-box:hover {
    cursor: pointer;
    background-color: white;
    border-color: black;
    transform: scale(1.2);
    transition: transform 0.1s ease;
}

.task-complete-box:hover::after {
    content: "✓";
    font-size: 2.5rem;
    font-weight: 800;
    color: rgb(110, 110, 110);
    padding: 0 0 8px 8px;
}

.task-complete-box:active::after {
    color: black;
}

.task-box-completed {
    opacity: 0.6;
}

.task-completed {
    border-color: black;
    background-color: white;
}

.task-completed::after {
    content: "✓";
    font-size: 2.5rem;
    font-weight: 800;
    color: black;
    padding: 0 0 8px 8px;
}

.task-completed ~ * {
    color: grey;
    text-decoration:line-through;
}

.task-date {
    
}

.task-date-na {
    opacity: 0.5;
}

.task-priority {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid black;
    border-radius: 2px;
    height: 32px;
    transform-origin: left;
    transform: scale(0.8);
}

.task-edit, .task-delete {
    color: grey;
    transition: transform 0.1s ease;
}

.task-edit:hover, .task-delete:hover {
    cursor: pointer;
    color: black;
    transform: scale(1.4);
    transition: transform 0.1s ease;
}

.hide-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

/* Popup containers */
.popup-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
}

.popup-fade {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.popup-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    padding: 16px;
    width: 400px;
    border: 4px solid black;
    background-color: white;
    border-radius: 24px;
    z-index: 10;
    transition: transform 0.2s ease;
    box-shadow: 0 0 32px rgb(0, 0, 0);
    animation: task-popup-box;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.popup-prompt {
    text-align: center;
    font-weight: 600;
    margin: 0;
    grid-column: 1 / 3;
}

.popup-button {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
    opacity: 0.7;
    font-size: 1.2rem;
    font-weight: 600;
    height: 40px;
}

.popup-button:hover {
    opacity: 1;
}

.popup-button:active {
    background-color: white;
}

.popup-button-delete {
    background-color: rgb(233, 110, 110);
}

.popup-button-add {
    background-color: rgb(179, 236, 179);
}

.popup-button-cancel {
    background-color: rgb(199, 199, 199);
}

/* Task Add container & input fields */
.task-add-container {
    display: flex;
    flex-direction: column;
}

.task-add-container form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-container {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 12px;
    width: 100%;
}

.input-container > *:first-child {
    font-weight: 600;
}

.input-container > *:nth-child(2):not(.input-radio-container) {
    font-family: "Roboto Mono", monospace;
}

.input-container textarea {
    resize: vertical;
    min-height: 32px;
    max-height: 160px;
}

.input-radio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.input-radio {
    display: none;
}

.input-radio-label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28px;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    position: relative;
}

.input-radio:checked + label {
    border: 2px solid black;
    font-weight: 600;
}

.input-radio#task-priority-low + label,
.task-priority-low  {
    background-color: rgb(206, 240, 206);
}

.input-radio#task-priority-medium + label,
.task-priority-medium  {
    background-color: rgb(241, 228, 204);
}

.input-radio#task-priority-high + label,
.task-priority-high  {
    background-color: rgb(241, 207, 207);
}

.input-radio#task-priority-low:checked + label{
    background-color: rgb(146, 209, 146);
}

.input-radio#task-priority-medium:checked + label {
    background-color: rgb(235, 208, 160);
}

.input-radio#task-priority-high:checked + label {
    background-color: rgb(241, 149, 149);
}

.task-add-submit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

@keyframes task-popup-box {
    0% {
        transform: scale(0);
    }
    100% {
        transform: scale(1);
    }
}