@import url('https://fonts.googleapis.com/css2?family=Carter+One&family=Poppins:wght@200;300;400;500;600&family=Roboto+Mono:wght@200;400;700&display=swap');

:root {
    --header-height: 100px;
    --header-height-small: 60px;
    --header-text-color: rgb(255, 255, 255);
    --header-background: rgb(114, 144, 184);
    --sidebar-background: rgb(215, 225, 238);
    --body-background: rgb(230, 245, 244);
    --text-color-main: rgb(0, 0, 0);
    --text-color-main-grey: rgb(99, 99, 99);
    --nav-button-background: rgb(255, 255, 255);
    --nav-button-hover: rgb(255, 255, 255);
    --nav-button-active: rgb(189, 192, 230);
    --header-button-border: grey;
    --label-background: white;
    --task-background: rgb(228, 228, 228);
    --task-background-hover: rgb(255, 255, 255);
    --input-background: rgb(255, 255, 255);
    --faded: rgb(205, 205, 205);

    --priority-low: rgb(206, 240, 206);
    --priority-medium: rgb(241, 228, 204);
    --priority-high: rgb(241, 207, 207);
    --priority-low-checked: rgb(146, 209, 146);
    --priority-medium-checked: rgb(235, 208, 160);
    --priority-high-checked: rgb(241, 149, 149);
}

:root.dark {
    --header-text-color: rgb(255, 255, 255);
    --header-background: #171010;
    --sidebar-background: #2B2B2B;
    --body-background: #333130;
    --text-color-main: rgb(226, 226, 226);
    --text-color-main-grey: rgb(204, 204, 204);
    --nav-button-background: #454b52;
    --nav-button-hover: #c4a993;
    --nav-button-active: #A27B5C;
    --header-button-border: rgb(145, 145, 145);
    --label-background: rgb(99, 99, 99);
    --task-background: #2f333a;
    --task-background-hover: #292b31;
    --input-background: rgb(85, 85, 85);
    --faded: rgb(205, 205, 205);

    --priority-low: rgb(60, 90, 60);
    --priority-medium: rgb(99, 86, 63);
    --priority-high: rgb(99, 53, 53);
    --priority-low-checked: rgb(19, 138, 19);
    --priority-medium-checked: rgb(167, 110, 5);
    --priority-high-checked: rgb(161, 25, 25);
}

*,
*::before,
*::after {
    box-sizing: border-box;
}

body {
    margin: 0;
    padding: 0;
    font-family: Poppins, sans-serif;
    color: var(--text-color-main)
}

h2,
h4,
h5 {
    margin: 0;
}

h2 {
    font-size: 2rem;
}

h4 {
    font-size: 1.5rem;
}

h5 {
    font-size: 1rem;
}

input, textarea, select {
    background-color: var(--input-background);
    color: var(--text-color-main);
}

#content {
    width: 100%;
}

#header {
    position: sticky;
    top: 0;
    height: var(--header-height);
    width: 100vw;
    background-color: var(--header-background);
    display: flex;
    align-items: center;
    z-index: 100;
}

#dropdown {
    display: none;
    position: absolute;
    margin-left: 24px;
    align-items: center;
    justify-content: center;
    color: var(--header-text-color);
    border: 2px solid white;
    width: 40px;
    height: 40px;
    border-radius: 8px;
    z-index: 20;
}

.title-text {
    position: relative;
    color: var(--header-text-color);
    text-align: center;
    font-family: "Roboto Mono", monospace;
    font-size: 3.5rem;
    flex-grow: 1;
}

#header-reset-button {
    display: inline-block;
}

@media (hover: hover) {
    #header-reset-button:hover {
        cursor: pointer;
        color: rgb(134, 59, 59);
    }
}

#body-container {
    display: flex;
    width: 100%;
    height: calc(100vh - var(--header-height));
    background-color: var(--body-background);
}

#sidebar {
    background-color: var(--sidebar-background);
    height: calc(100vh - var(--header-height));
    width: 320px;
    flex-shrink: 0;
    flex-grow: 0;
    overflow-y: auto;
}

.nav-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
    padding: 32px;
    width: 100%;
}

.nav-button {
    height: 42px;
    display: flex;
    align-items: center;
    gap: 16px;
    padding: 16px;
    background-color: var(--nav-button-background);
    border-radius: 12px;
    box-shadow: 2px 2px 4px rgba(0, 0, 0, 0.1);
    transition: transform 0.1s ease, background-color 0.1s ease, color 0.1s ease;
}

@media (hover: hover) {
    .nav-button:hover {
        cursor: pointer;
        transform: scale(1.07);
        transition: transform 0.1s ease, background-color 0.1s ease, color 0.1s ease;
        background-color: var(--header-background);
        color: var(--nav-button-hover);
    }
}

.nav-button:active {
    background-color: var(--nav-button-active);
}

.nav-button h3 {
    flex-grow: 1;
}

.nav-project-delete {
    display: none;
    width: 24px;
    height: 24px;
    padding: 8px;
    align-items: center;
    justify-content: center;
    border: 2px solid white;
    border-radius: 50%;
    opacity: 0.5;
    z-index: 5;
}

@media (hover: hover) {
    .nav-button:hover .nav-project-delete {
        display: flex;
    }

    .nav-project-delete:hover {
        background-color: rgb(240, 185, 185);
        color: rgb(109, 44, 44);
        border: 3px solid rgb(109, 44, 44);
        opacity: 1;
    }
}

#add-project {
    opacity: 0.4
}

@media (hover: hover) {
    #add-project:hover {
        opacity: 1;
    }
}

.nav-adding-project {
    display: flex;
    /* grid-template-columns: 60px 1fr 24px;
    grid-template-rows: repeat(3, auto); */
    border: 2px solid rgb(70, 70, 70);
    border-radius: 12px;
    /* display: flex; */
    /* height: auto; */
    /* opacity: 1; */
    justify-content: center;
    flex-direction: column;
    padding: 12px;
    gap: 12px;
    overflow: hidden;
    /* transition: display 0.2s ease, height 0.1s ease; */
}

/* .nav-hidden {
    height: 0;
    padding: 0;
    gap: 0;
    border: 0;
    opacity: 0;
    transition: opacity 0.2s ease, height .1s ease;
} */

.nav-adding-project>div {
    display: flex;
    flex-direction: row;
    align-items: center;
    width: 100%;
    height: 24px;
    gap: 12px;
    font-size: 1.2rem;
}

.nav-adding-project label {
    width: 60px;
    font-weight: 600;
}

.nav-adding-project input,
.nav-adding-project select {
    flex-grow: 1;
    height: calc(100% + 4px);
    width: 100px;
    font-size: 1.1rem;
    background-color: var(--input-background);
    color: var(--text-color-main);
}

.nav-adding-project select {
    width: 100%;
    font-size: 1rem;
}

.label-edit-button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 48px;
    height: 24px;
    border-radius: 50%;
    background-color: var(--faded);
    border: 1px solid grey;
}

@media (hover: hover) {
    .label-edit-button:hover {
        cursor: pointer;
        background-color: var(--faded);
        border: 1px solid black;
        box-shadow: 0 0 6px grey;
    }
}

.label-edit-button i {
    color: rgb(82, 82, 82);
}

.nav-adding-project button {
    width: 100%;
    border: 2px solid black;
    border-radius: 12px;
    background-color: var(--priority-low);
    color: var(--text-color-main);
    height: 32px;
    font-size: 1rem;
    font-weight: 600;
}

@media (hover: hover) {
    .nav-adding-project button:hover {
        cursor: pointer;
        background-color: var(--priority-low-checked);
    }
}

.nav-adding-project button:active {
    background-color: var(--nav-button-active);
}

#sidebar hr {
    width: 80%;
    border: none;
    border-top: 4px solid white;
}

/* Main elements */
#main {
    display: flex;
    flex-direction: column;
    height: 100%;
    width: 100%;
    padding: 32px;
    gap: 16px;
    overflow-y: auto;
}

.task-container-header {
    display: grid;
    grid-template-columns: 1fr auto;
    gap: 24px;
    padding-right: 24px;
}

.task-container-header-left,
.task-container-header-right {
    display: flex;
    align-items: center;
    gap: 24px;
}

.project-header-title {
    display: inline-block;
}

.project-header-label,
.add-task {
    display: flex;
    gap: 8px;
    align-items: center;
    height: 32px;
    border: 2px solid var(--header-button-border);
    border-radius: 4px;
    padding: 4px 8px;
    font-size: 1.1rem;
    font-weight: 600;
    color: var(--text-color-main-grey);
}

.project-header-label {
    background-color: var(--label-background);
}

.project-header-label div {
    width: 16px;
    height: 16px;
    border: 1px solid black;
    border-radius: 3px;
}

.add-task {
    font-size: 1.1rem;
    font-weight: 600;
    /* color: rgb(82, 82, 82); */
    background-color: var(--priority-low);
}

@media (hover: hover) {
    .add-task:hover {
        cursor: pointer;
        border: 2px solid black;
        color: black;
        background-color: rgb(201, 241, 201);
    }
}

.add-task:active {
    background-color: white;
}

.task-sorter,
.task {
    display: grid;
    grid-template-columns: 40px 240px auto 80px 80px 24px 24px;
    align-items: center;
    gap: 16px;
    width: 100%;
    padding-left: 18px;
    padding-right: 12px;
}

.task-sorter {
    font-weight: 600;
}

.task-sort-button {
    cursor: pointer;
}

.task-sort-button::after {
    content: ">";
    position: relative;
    margin-left: 8px;
    opacity: 0.4;
    transform: rotate(0);
    transition: transform 0.2s ease;
}

.task-sort-ascending::after,
.task-sort-descending::after {
    opacity: 1;
    transform-origin: center;

}

.task-sort-ascending::after {
    transform: rotate(-90deg);
}

.task-sort-descending::after {
    transform: rotate(90deg);
}

/* Task Boxes */
.task-container {
    display: flex;
    flex-direction: column;
    gap: 16px;
}

.task {
    cursor: pointer;
    min-height: 40px;
    background-color: var(--task-background);
    border: 1px solid grey;
    border-radius: 12px;
    box-shadow: 4px 4px 6px rgba(0, 0, 0, 0.1);
}

@media (hover: hover) {
    .task:hover {
        background-color: var(--task-background-hover);
    }
}

.task>div:not(:first-child) {
    padding: 12px 0;
}

.task-container-complete {
    height: 20px;
    width: 20px;
    border: 2px solid rgb(129, 129, 129);
    border-radius: 5px;
    display: flex;
    align-items: center;
    justify-content: center;
    transition: transform 0.1s ease;
}

.task-container-complete:active {
    background-color: white;
}

@media (hover: hover) {
    .task-container-complete:hover {
        cursor: pointer;
        background-color: white;
        border-color: black;
        transform: scale(1.2);
        transition: transform 0.1s ease;
    }

    .task-container-complete:hover::after {
        content: "✓";
        font-size: 2.5rem;
        font-weight: 800;
        color: rgb(110, 110, 110);
        padding: 0 0 8px 8px;
    }
}

.task-container-complete:active::after {
    color: black;
}

.task-box-completed {
    opacity: 0.6;
}

.task-completed {
    border-color: black;
    background-color: white;
}

.task-completed::after {
    content: "✓";
    font-size: 2.5rem;
    font-weight: 800;
    color: black;
    padding: 0 0 8px 8px;
}

.task-completed~* {
    color: grey;
    text-decoration: line-through;
}

.task-date-na {
    opacity: 0.5;
}

.task-container-priority {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid grey;
    border-radius: 2px;
    height: 26px;
    width: 85%;
    font-size: 0.8rem;
}

.task-container-edit,
.task-container-delete,
.project-header-edit,
.project-header-delete {
    color: grey;
    transition: transform 0.1s ease;
}

.project-header-edit,
.project-header-delete {
    transform: scale(1.3);
}

@media (hover: hover) {

    .task-container-edit:hover,
    .task-container-delete:hover,
    .project-header-edit:hover,
    .project-header-delete:hover {
        cursor: pointer;
        color: var(--text-color-main);
        transform: scale(1.4);
        transition: transform 0.1s ease;
    }
}

.hide-overflow {
    overflow: hidden;
    white-space: nowrap;
    text-overflow: ellipsis;
}

.task-expanded.task>.task-container-title {
    font-weight: 600;
}


/* Popup containers */
.popup-screen {
    display: flex;
    align-items: center;
    justify-content: center;
    position: fixed;
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    z-index: 100;
}

.popup-fade {
    position: fixed;
    width: 100%;
    height: 100%;
    background-color: black;
    opacity: 0.5;
}

.popup-container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr 1fr;
    gap: 16px;
    padding: 16px;
    width: 400px;
    border: 4px solid black;
    background-color: var(--sidebar-background);
    border-radius: 24px;
    z-index: 10;
    transition: transform 0.2s ease;
    box-shadow: 0 0 32px rgb(0, 0, 0);
    animation: task-popup-box;
    animation-duration: 0.2s;
    animation-timing-function: ease-out;
    animation-fill-mode: forwards;
}

.popup-prompt {
    text-align: center;
    font-weight: 600;
    margin: 0;
    grid-column: 1 / 3;
}

.popup-button {
    cursor: pointer;
    border: 2px solid black;
    border-radius: 8px;
    opacity: 0.7;
    font-size: 1.2rem;
    font-weight: 600;
    height: 40px;
}

@media (hover: hover) {
    .popup-button:hover {
        opacity: 1;
    }
}

.popup-button:active {
    background-color: white;
}

.popup-button-delete,
.popup-button-reset {
    background-color: rgb(233, 110, 110);
}

.popup-button-add {
    background-color: rgb(179, 236, 179);
}

.popup-button-cancel {
    background-color: rgb(199, 199, 199);
}

/* Task Add container & input fields */
.task-add-container {
    display: flex;
    flex-direction: column;
}

.task-add-container form {
    display: flex;
    flex-direction: column;
    gap: 12px;
}

.input-container {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 12px;
    width: 100%;
}

.input-container>*:first-child {
    font-weight: 600;
}

.input-container>*:nth-child(2):not(.input-radio-container) {
    font-family: "Roboto Mono", monospace;
}

.input-container textarea {
    resize: vertical;
    min-height: 32px;
    max-height: 160px;
}

.input-radio-container {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 8px;
}

.input-radio {
    display: none;
}

.input-radio-label {
    cursor: pointer;
    display: flex;
    justify-content: center;
    align-items: center;
    width: 100%;
    height: 28px;
    background-color: white;
    border: 1px solid black;
    border-radius: 2px;
    position: relative;
}

.input-radio:checked+label {
    border: 2px solid black;
    font-weight: 600;
}

.input-radio#task-priority-low+label,
.task-priority-low {
    background-color: var(--priority-low);
    /* background-color: rgb(206, 240, 206); */
}

.input-radio#task-priority-medium+label,
.task-priority-medium {
    background-color: var(--priority-medium);
    /* background-color: rgb(241, 228, 204); */
}

.input-radio#task-priority-high+label,
.task-priority-high {
    background-color: var(--priority-high);
    /* background-color: rgb(241, 207, 207); */
}

.input-radio#task-priority-low:checked+label {
    background-color: var(--priority-low-checked);
    /* background-color: rgb(146, 209, 146); */
}

.input-radio#task-priority-medium:checked+label {
    background-color: var(--priority-medium-checked);
    /* background-color: rgb(235, 208, 160); */
}

.input-radio#task-priority-high:checked+label {
    background-color: var(--priority-high-checked);
    /* background-color: rgb(241, 149, 149); */
}

.input-project-label-container {
    display: grid;
    grid-template-columns: 100px 1fr 24px;
    gap: 12px;
    width: 100%;
}

.input-project-label-container>*:first-child {
    font-weight: 600;
}

.input-project-label-container>select {
    font-family: "Roboto Mono", monospace;
}

.input-project-label-container .label-edit-button {
    width: 24px;
}

.task-add-submit {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 16px;
}

.edit-label-box {
    display: grid;
    grid-template-columns: 48px 1fr 24px;
    align-items: center;
    gap: 16px;
    width: 100%;
}

.edit-label-box input[type="text"] {
    height: 24px
}

#footer-link {
    text-decoration: none;
}

#footer {
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
    gap: 16px;
    padding: 0 32px;
}

#footer p {
    font-weight: 600;
    font-size: 1.1rem;
}

#footer i {
    color: var(--text-color-main);
    transition: transform 0.1s ease;
}

@media (hover: hover) {

    #footer-link:hover,
    #footer-dark-mode:hover {
        cursor: pointer;
        transform: scale(1.2);
        transition: transform 0.1s ease;
    }

    .edit-label-box input[type="color"]:hover,
    #edit-labels-form button:hover {
        cursor: pointer;
    }
}

@keyframes task-popup-box {
    0% {
        transform: scale(0);
    }

    100% {
        transform: scale(1);
    }
}

@media screen and (max-width: 1100px) {

    .task-container-header {
        gap: 24px;
        padding-right: 12px;
    }

    .task-container-header-left {
        display: grid;
        grid-template-rows: auto auto;
        gap: 12px;
    }

    .task-container-header-right {
        display: grid;
        grid-template-columns: auto auto;
        grid-template-rows: auto auto;
        gap: 12px;
        justify-content: center;
    }

    .project-header-label {
        width: min-content;
    }

    .add-task {
        grid-column: 1 / -1;
    }

    .project-header-edit,
    .project-header-delete {
        margin-left: 10px;
    }

    .task-container {
        gap: 12px;
    }

    .task-sorter,
    .task {
        display: grid;
        grid-template-columns: 40px auto 55px 32px 24px 24px;
        align-items: center;
        gap: 12px;
        max-width: 100%;
        padding-left: 18px;
        padding-right: 12px;
    }

    .task-container-title {
        overflow: hidden;
        white-space: nowrap;
        text-overflow: ellipsis;
    }

    .task-container-description,
    .task-sorter-description {
        display: none;
    }

    .task-container-due {
        font-size: 0.8rem;
    }

    .task-container-priority p {
        display: none;
    }

    .task-expanded.task {
        display: grid;
        grid-template-columns: 40px auto 55px 48px 48px;
        grid-template-rows: 32px auto;
    }

    .task-expanded.task>.task-container-complete {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        align-self: start;
        margin-top: 14px;
    }

    .task-expanded.task>.task-container-title {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: start;
    }

    .task-expanded.task>.task-container-description {
        display: flex;
        grid-column: 2 / 3;
        grid-row: 2 / 3;
        align-self: start;
    }

    .task-expanded.task>.task-container-due {
        grid-column: -4 / -3;
        justify-self: center;
        margin-top: 14px;
    }

    .task-expanded.task>.task-container-priority {
        grid-column: -3 / -1;
        justify-self: center;
        margin-top: 20px;
    }

    .task-expanded.task>.task-container-priority p {
        display: flex;
    }

    .task-expanded.task>.task-container-edit {
        grid-column: -2 / -1;
        grid-row: -2 / -1;
        justify-self: center;
        align-self: end;
        margin-bottom: 16px;
    }

    .task-expanded.task>.task-container-delete {
        grid-column: -3 / -2;
        grid-row: -2 / -1;
        justify-self: center;
        align-self: end;
        margin-bottom: 16px;
    }

}

@media screen and (max-width: 868px) {
    :root {
        --header-height: 80px;
    }

    #dropdown {
        display: flex;
        transform: scale(0.9);
    }

    .title-text {
        font-size: 2.5rem;
    }

    #sidebar {
        position: absolute;
        padding-bottom: 32px;
        box-shadow: 0 0px 12px grey;
        animation-name: sidebar-dropdown;
        animation-duration: 0.3s;
        animation-timing-function: ease;
        animation-fill-mode: forwards;
        transform-origin: top;
        z-index: 15;
    }

    .sidebar-hidden {
        display: none;
        transform: scaleY(0);
    }

    @keyframes sidebar-dropdown {
        0% {
            transform: scaleY(0);
        }

        100% {
            transform: scaleY(1)
        }
    }

    #main {
        padding: 24px;
    }

    h2 {
        font-size: 1.8rem;
    }

}

@media screen and (max-width: 580px) {
    :root {
        --header-height: 60px;
    }

    #dropdown {
        margin-left: 12px;
        transform: scale(0.7);
    }

    .title-text {
        font-size: 1.7rem;
    }

    #sidebar {
        width: 100%;
    }

    .nav-button {
        height: auto;
        padding: 8px 16px;
    }

    h3 {
        padding: 0;
        margin: 0;
    }

    #main {
        padding: 16px;
    }

    h2 {
        font-size: 1.6rem;
    }

    .task-sorter,
    .task {
        display: grid;
        grid-template-columns: 40px auto 55px 32px;
        align-items: center;
        gap: 12px;
        max-width: 100%;
        padding-left: 18px;
        padding-right: 12px;
    }

    .task-sorter-priority {
        display: none;
    }

    .task-container-priority {
        transform: scale(0.8);
    }

    .task-sorter-edit,
    .task-container-edit {
        display: none;
    }

    .task-sorter-delete,
    .task-container-delete {
        display: none;
    }

    .task-expanded.task.task {
        display: grid;
        grid-template-columns: 32px auto 30px 30px;
        grid-template-rows: 32px 32px auto;
    }

    .task-expanded.task>.task-container-complete {
        grid-column: 1 / 2;
        grid-row: 1 / -1;
        align-self: start;
        margin-top: 14px;
    }

    .task-expanded.task>.task-container-title {
        grid-column: 2 / 3;
        grid-row: 1 / 2;
        align-self: start;
        font-weight: 600;
    }

    .task-expanded.task>.task-container-description {
        grid-column: 2 / 3;
        grid-row: 2 / -1;
        align-self: start;
    }

    .task-expanded.task>.task-container-due {
        grid-column: -3 / -1;
        justify-self: start;
        margin-top: 14px;
        margin-left: 6px;
    }

    .task-expanded.task>.task-container-priority {
        grid-column: -3 / -1;
        justify-self: start;
        align-self: end;
        margin-bottom: 6px;
        transform: scale(1);
    }

    .task-expanded.task>.task-container-edit {
        display: flex;
        justify-self: start;
        grid-column: -3 / -2;
        grid-row: -2 / -1;
        margin-left: 4px;
    }

    .task-expanded.task>.task-container-delete {
        display: flex;
        justify-self: start;
        grid-column: -2 / -1;
        grid-row: -2 / -1;

    }
}

@media screen and (max-width: 400px) {
    .title-text {
        text-align: right;
        margin-right: 24px;
        margin-left: 50px;
        line-height: 1;
    }

    h2 {
        font-size: 1.4rem;
    }
}